<div class="article-list">
        <div class="container">
            <div class="row articles">
            	{{#each category}}
                <div class="col-sm-6 col-md-3 item" style="text-align: center;"><a href="category/{{idLoaiSanPham}}">
                	<img class="img-fluid" src="imgs/cat/{{idLoaiSanPham}}.png" onerror="this.src='imgs/cat/0.jpg'" style="padding:20px;max-height:100%"></a>
                    <h3 class="name" style="text-align:botton">{{tenLoaiSanPham}}</h3>
                </div>
                {{/each}}
    		</div>
			
		</div>
</div>