<div class="article-list">
        <div class="container">
            <div class="row articles">
            	{{#each category}}
                <div class="col-sm-6 col-md-3 item" style="text-align: center;"><a href="category/{{idLoaiSanPham}}">
                	<img class="img-fluid" src="imgs/cat/{{idLoaiSanPham}}.png"></a>
                    <h3 class="name">{{tenLoaiSanPham}}</h3>
                </div>
                {{/each}}
    		</div>
			
		</div>
</div>