<div class="container" style="width: 90%">
    <div class="header" style="margin-left:0px">
        <h2 class="uppercase"></h2>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form >
                <div class="row">

                    <div class="form-group">
                        <label>Full Name</label>
                        <input class="form-control has-feedback" id="name" name="newName" value="{{infor.hoTen}}" placeholder="Full name" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input id="numberPhone" type="number" placeholder="Enter your number phone" data-meta="Field" value="{{infor.sdt}}" inputmode="numeric" pattern="[0-9]*">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input class="form-control has-feedback" id="address" name="Address" value="{{infor.diaChi}}" placeholder="Enter your address">
                    </div>

                    <button class="btn btn-primary pull-right" type="submit" onclick="finishPayment()">Finish</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-lg-offset-2">
            <br/>

        </div>
    </div>

</div>