<div class="sidebar-nav navbar-collapse box-shadow" >
                <ul class="nav in" id="side-menu">
                    <li class="border-left">
                        <h1>Administrator</h1>
                    </li>
                    <li>
                        <a href="/admin" class="active"><i class="glyphicon glyphicon-th-list"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/admin/users" ><i class="glyphicon glyphicon-list-alt"></i> Users</a>
                    </li>
                    <li>
                        <a href="/admin/products"><i class="  glyphicon glyphicon-list"></i> Products</a>
                    </li>
                    <li>
                        <a href="/admin/categories"><i class="glyphicon glyphicon-shopping-cart"></i> Categories</a>
                    </li>
                    <li>
                        <a href="/admin/analysis"><i class="glyphicon glyphicon-equalizer"></i> Analysis</a>
                    </li>
                    <li>
                        <a href="/admin/customer-consult"><i class="glyphicon glyphicon-bell"></i> Customer Consult</a>
                    </li>
                </ul>
            </div>