<div class="sidebar-nav navbar-collapse box-shadow" style="margin-left:30px">
                <ul class="nav in" id="side-menu">
                    <li class="border-left">
                        <h1>Menu</h1>
                    </li>
                    <li>
                        <a href="/admin" class="active"><i class="glyphicon glyphicon-th-list"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/admin/users" ><i class="glyphicon glyphicon-list-alt"></i> Users</a>
                    </li>
                    <li>
                        <a href="/admin/products"><i class="  glyphicon glyphicon-list"></i> Products</a>
                    </li>
                    <li>
                        <a href="/admin/categories"><i class="glyphicon glyphicon-shopping-cart"></i> Categories</a>
                    </li>
                    <li>
                        <a href="/admin/ordersManagement"><i class="glyphicon glyphicon-shopping-cart"></i> Orders Management</a>
                    </li>
                    <li>
                        <a href="/admin/salesStatistics/day/2018-06-24"><i class="glyphicon glyphicon-equalizer"></i> Sales Statistics</a>
                    </li>
                    <li>
                        <a href="/admin/analysis"><i class="glyphicon glyphicon-equalizer"></i> Analysis</a>
                    </li>
                    <li>
                        <a href="/admin/customer-consult"><i class="glyphicon glyphicon-bell"></i> Customer Consult</a>
                    </li>

                </ul>
</div>