<footer class="main-footer">
      <div class="row" id="footer">
        <div class="footer-top-inner gray-bg">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-4">
                    <div class="single-footer footer-about">
                        <div class="footer-logo">
                            <a href="/home">
                                <strong> Lucus</strong>'s Auction
                            </a>
                        </div>
                        <div class="footer-brief">
                            <p>Lucus was one of four Latin words meaning in general "forest, woodland, grove" (along with nemus, silva, and saltus), but unlike the others it was primarily used as a religious designation.</p>
                            <p>Servius defines the lucus as "a large number of trees with a religious significance," as distinguished from the silva, a natural forest, and a nemus, an arboretum that is not consecrated. A saltus usually implied a wilderness area with varied topographical features.</p>
                        </div>
                        <ul class="footer-social list-inline text-center">
                            <li>
                                <a class="facebook" href="" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                            </li>
                            <li>
                                <a class="google-plus" href="" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a>
                            </li>
                            <li>
                                <a class="twitter" href="" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                            </li>
                            <li>
                                <a class="rss" href="" title="RSS"><i class="zmdi zmdi-rss"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 hidden-sm">
                    <div class="single-footer">
                        <h4 class="footer-title border-left">Shipping</h4>
                        <ul class="footer-menu list-unstyled">
                            <li>
                                <a href="#"><i class="zmdi zmdi-circle"></i><span>New Products</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-circle"></i><span>Discount Products</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-circle"></i><span>Best Sell Products</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-circle"></i><span>Popular Products</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-circle"></i><span>Manufactirers</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-circle"></i><span>Supplies</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-circle"></i><span>Special Products</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="single-footer">
                        <h4 class="footer-title border-left">my account</h4>
                        <ul class="footer-menu list-unstyled">
                            <li>
                                <a href="#"><i class="zmdi zmdi-circle"></i><span>My Account</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-circle"></i><span>My Wishlist</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-circle"></i><span>My Cart</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-circle"></i><span>Sign In</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-circle"></i><span>Registration</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-circle"></i><span>Check out</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-circle"></i><span>Oder Complete</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="single-footer">
                        <h4 class="footer-title border-left">Get in touch</h4>
                        <br>
                        <div class="footer-message">
                            <form action="#">
                                <input type="text" name="name" placeholder="Your name here...">
                                <input type="text" name="email" placeholder="Your email here...">
                                <textarea class="height-80" name="message" placeholder="Your messege here..."></textarea>
                                <button class="submit-btn-1 mt-20 btn-hover-1" type="submit">submit message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<link rel="stylesheet" href="/assests/bootstrap-3.3.7-dist/css/style.css">