<div class="header-dark">
        <div class="navbar navbar-default ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 text-left">
                        <div class="navbar-header">
                                <div class="header-logo">
                                    <a href="/" style="display: inline;">
                                        <strong> Lucus</strong>'s Auction
                                    </a>
                                </div>
                        </div>
                    </div>

                    <div class="col-md-4 ">
                        <form class="pull-right" target="_seft" style="vertical-align: middle;">
                       
                                <div class="row">
                                    <div class="col-md-4 pull-left" ></div>
                                    <div class="col-md-6 " style="margin-top:5px;margin-bottom: -15px" >
                                        <input id="keyword" placeholder="Search product here..."  class="form-control" type="text" name="search">
                                    </div>
                                    <div class="col-md-2 pull-right" style="margin-top:5px">
                                        <span class="input-group-btn">
                                        <button id="btnSearchHomepage" class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    </div>
                                     
                                </div>
                           
                        </form>
                    </div>

                    <div class="col-md-3">
                    
                        <a class="btn btn-default pull-right" role="button" href="/login">Log In</a>
                        <a class="btn btn-default pull-right" role="button" href="/register">Register</a>
               
                        
                    </div>

                </div>

            </div>

        </div>
    </div>