<div class="row">
    <div class="col-md-12">
        <div id="menu" class="nav navbar">
            <ul class="list-inline">
                <li><a class="active" href="/">Home</a>
                </li>
                <li><a href="/category">Categories</a>
                </li>
                <li><a href="/product">Products</a>
                </li>
                <li><a href="/about">About</a>
                </li>
                <li><a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>