
<div class="row" style="margin: auto;text-align: center;">

    <div class="logo">
      <svg class="svglogo" id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 134.81 140.94'><defs><style>.cls-1{fill:#FFA500;}</style></defs><title>beeldmerk-white</title></svg>
    </div>


    <div class='four'></div>
  

    <div class='card'>
      <div class='front'>
        <img src='http://www.foursites.nl/wp-content/uploads/freek.jpg' class='contact' />
        <span class='name'>1312304</span>
        <hr>
        <span class='job'>Nguyen Le Tuan Kiet</span>
      </div>
      <div class='back'>
        <img src='https://media.giphy.com/media/3oriO7A7bt1wsEP4cw/giphy.gif' class='contact' />
        <span>the employee of the month</span>
      </div>
    </div>

    <div class='card'>
      <div class='front'>
        <img src='http://www.foursites.nl/wp-content/uploads/kaspar.jpg' class='contact' />
        <span class='name'>1412306</span>
        <hr>
        <span class='job'>Nguyen The Luc</span>
      </div>
      <div class='back'>
        <img src='https://media.giphy.com/media/l4Jz3a8jO92crUlWM/giphy.gif' class='contact' />
        <span>the awesome guy</span>
      </div>
    </div>

 </div>


